
.head
{
  background: #EDE574;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.heading
{
  color: #42ad24;
  font-weight: 400;
}
.hello
{
	font-weight: 600;
	color: #e14fff;
}
hr
{
  border: 2px solid #fc4b8c;  
}
.heading1
{
  color: #42ad24;
  font-size:45px;
  font-weight: 600;
 }
 .add
 {
 	font-size: 18px;
 	font-family: 'Rubik', sans-serif;
 	color: white;
 	text-decoration: none;
 }
 .icons
 {
 	font-size: 30px;
 	color: black;
 }
 .love
 {
 	font-size: 35px;
 	color: #FF5555;
 	font-family: 'Lobster', cursive;
 }
 .footer{
  background-color: #2d2e30;
}
.foot
{
  color: white;
}
.logo
{
  height: 100px;
}
.contact
{
	font-size: 40px;
	font-family: sans-serif;
	text-transform: uppercase;
	color: white;
}
.space
{
  height: 30px;
}
.space1
{
  height: 15px;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
* {
  margin:0;
  padding:0;
  font-family: Tahoma;
  box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
nav ul li a {
  color: #FFF;
  text-decoration: none;
}
/* End General */

/* Start Navbar */
nav ul {
  background-color: transparent;
}
nav ul > li {
  padding: 15px;
  display: inline-block;
  transition: all .3s ease;
  margin-left: -5px
}

nav ul > li:last-of-type {
  float: right;
}
nav ul > li:last-of-type a .fa {
  font-size: 21px
}
/* End Navbar */

/* Start Menue Right */
nav ul > li:last-of-type {
  position: relative;
  display: none
}
nav ul > ol {
  position: absolute;
  top: 49px;
  right: 0;
  background: #333;
  text-align: center;
  list-style: none;
  display: none
}
nav ul > ol > li {
  width: 100vw;
  color: #FFF;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all .3s ease;
}
nav ul > ol > li:hover a {
  margin: 20px;
}
nav ul > ol > li: {
  background: #000;
  cursor: pointer
}

/* Start Menue Right */

/* Start Media Query */
@media screen and (max-width:680px){
  nav ul > li:not(:first-child) {
    display:none
  }
  nav ul > li:last-of-type {
    display: block
  }
  nav ul input {
    display: inline
  }
}
@media screen and (min-width:680px) {
  nav ul > ol > li {
    display:none
  }
}